.has-post-thumbnail {
    background-color: blanchedalmond;
    padding: 15px;
    width: fit-content;

    .content {
        max-width: 250px;
    }

    .service-price {
        margin-bottom: auto;
    }
}

.post-wrapper {
    transition: .25s;
}

.bw-to-color {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.bw-to-color:hover {
    filter: grayscale(0%);
}

.post-title {
    font-size: 22px;
}

.horizontal-line {
    border-bottom: 1px solid black; 
    margin: 10px 0; 
  }