.page-header-info {
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    .header-images img {
        width: 100%;
        height: auto;
        display: block;
    }

    .entry-title {
        position: absolute;
        padding-bottom: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        white-space: nowrap;
    }

    .header-breadcrumb {
        font-weight: 550;
        padding-top: 8px;
        padding-bottom: 8px;
        color: whitesmoke;
        background-color: rgb(69, 73, 50);
    }
}

@media (max-width: 767px) {
    .page-header-info .entry-title {
        font-size: 2em;
    }

    .page-header-info .header-breadcrumb {
        font-size: 0.8em;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

@media (min-width: 768px) {
    .page-header-info {
        margin-top: 10px;
    }
    
    .entry-title {
        font-size: 5em;
    }

    .page-header-info .header-breadcrumb {
        font-size: 1em;
    }
}