.hero {
    display: flex;
    align-items: center;
    padding: 40px;
    margin-bottom: 20px;
    background-color: #d0cfaa;  
}

.hero-content {
    text-align: center;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.hero-content p {
    font-size: 1.1em;
    color: #12120c;
    margin-bottom: 20px;
}

.hero-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.hero-buttons a:first-child {
    margin-left: 0;
}

.hero-buttons .primary {
    background-color: #e6ce39;
    color: black;
}

.hero-buttons .secondary {
    background-color: #6c757d;
    color: white;
}

@media (max-width: 767px) {
    .hero-image {
        display: none;
    }

    .hero {
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-buttons a {
        margin: 10px 0;
        width: 80%;
        text-align: center;
    }

    .hero-buttons a:first-child {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .hero {
        justify-content: space-around;
    }

    .hero-content {
        text-align: left;
        margin-bottom: 0;
        max-width: 50%;
    }

    .hero-image {
        max-width: 40%;
    }
}